body{
  margin:0;
}


.red{
  background-color: red;
  height:100px;
  width: 100px;
  position: absolute;
  left:200px;
  top: 200px;

}
.blue{
  background-color: blue;
  height:100px;
  width: 100px;
  position: absolute;
  left:100px;
  top:100px;

}
.green{
  background-color: green;
  height:100px;
  width: 100px;
}
/* if we use position as a  fix then that block will fix at that point */
